body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e9f2f7;
    color: #333;
}

.background {
    background-image: url('../img/Fundo.png');
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    z-index: -1;
}

header {
    background-color: #002d42;
    padding: 2rem;
    box-sizing: border-box;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 6px #76acb6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

#menu {
   margin-left: auto; 
}


#menu ul {
    list-style: none;
    display: flex;
    gap: 3rem;
    
}

#menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#menu a:hover {
    text-decoration: underline;
    transition: text-decoration 0.3s;
    color: #1EE45A;
}

#logo img {
    height: 100px;
}
